html {
  font-size: 16px;
}

body {
  background-color: #000 !important;
  font-family: 'Helvetica Neue', sans-serif;
  color: #444;
  margin: 0;
  
}

header {
  background-color: #fff;
}

main {
  max-width: 1430px;
  margin: 0 auto;
  margin-left: 254px;
  margin-right: 38px;
  @media screen and (max-width: 991px) {
    margin: 0 auto;
    margin-right: auto;
    margin-left: 37px;
    margin-right: 42px;
  }
  //   @media screen and (max-width: 480px) {
  //     margin-left: -4px;
  //     margin-right: 0rem;
  //     padding: 2rem;
  //   }

  h1 {
    font-size: 3rem;
    margin-top: 0;
  

  h2 {
    font-size: 2rem;
  

  p {
    font-size: 1.2rem;
    line-height: 1.5;
  }
}
}
}

.espace{
  padding: 3.5rem;
  @media screen and (max-width: 991px) {
    padding: 1.5rem;
  }
  @media screen and (max-width: 490px) {
    padding: 38px;
  }
}

.flex{
  display: flex;
  align-items: center;
  justify-self: center;
} 

.cta {
  display: inline-block;
  background-color: #ffb0b0;
  color: rgb(0, 0, 0);
  padding: 1rem 2rem;
  border-radius: 2rem;
  margin-top: 2rem;
  transition: background-color .2s;
  @media screen and (max-width: 600px) {
    color: rgb(0, 0, 0);
    padding: 0.5rem 0.5rem;
    border-radius: 2rem;
    margin-top: 1rem;
    font-size: 0.5rem;
  }

  &:hover {
      background-color: #ec6b6b;
  }
}

.gap {
  gap: 2rem;
}

.bg-w {
  background-color: rgb(246, 180, 180);
}
.flex1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.text-color {
  color: rgb(255, 255, 255);
  padding: 2rem;
  font-size: 2rem;
}
.f-3{
  font-size: 1rem;
}