html {
  font-size: 16px;
}

body {
  font-family: 'Helvetica Neue', sans-serif;
  color: #444;
  margin: 0;
}

header {
  background-color: #fff;
}

  // nav {
  //   max-width: 1200px;
  //   margin: 0 auto;

    // ul {
    //   // display: flex;
    //   list-style: none;
    //   margin: 0;
    //   padding: 0;

      // li {
      //   margin-left: 1rem;

//         a {
//           color: #444;
//           text-decoration: none;
//           transition: color .2s;

//           &:hover {
//             color: $primary-color;
//           }
//         }
//       }
//     }
//   }
// }

main {
  max-width: 1244px;
  margin: 0 auto;
  padding: 2rem;
  flex: 1;
  margin-left: 195px;

  h1 {
    font-size: 3rem;
    margin-top: 0;
  

  h2 {
    font-size: 2rem;
  

  p {
    font-size: 1.2rem;
    line-height: 1.5;
  }
}
}
}

.espace{
  padding: 3.5rem;
}
