html {
  font-size: 16px;
}

body {
  background-color: #000 !important;
  font-family: 'Helvetica Neue', sans-serif;
  color: #444;
  margin: 0;
  
}

header {
  background-color: #fff;
}

main {
  max-width: 1139px;
  margin: 0 auto;
  // padding: 2rem;
  // flex: 1;
  margin-left: 260px;

  h1 {
    font-size: 3rem;
    margin-top: 0;
  

  h2 {
    font-size: 2rem;
  

  p {
    font-size: 1.2rem;
    line-height: 1.5;
  }
}
}
}

.espace{
  padding: 3.5rem;
}

.flex{
  display: flex;
  align-items: center;
  justify-self: center;
} 

.cta {
  display: inline-block;
  background-color: #ffb0b0;
  color: rgb(0, 0, 0);
  padding: 1rem 2rem;
  border-radius: 2rem;
  margin-top: 2rem;
  transition: background-color .2s;

  &:hover {
      background-color: #ec6b6b;
  }
}

.gap {
  gap: 2rem;
}

.bg-w {
  background-color: rgb(246, 180, 180);
}
.flex1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.text-color {
  color: rgb(255, 255, 255);
  padding: 2rem;
  font-size: 2rem;
}
.f-3{
  font-size: 1rem;
}