.projet-html{
  h2{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 23px;
    padding: 16px;
    background-color: bisque;
  }
}
.html{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  flex-wrap: wrap;
  margin: 0 auto;
  overflow: hidden;
  gap: 17px;
}
.btns {
  display: inline-block;
  background-color: #000000;
  border-radius: 10px;
  border: 4px double #cccccc;
  color: #f60000;
  text-align: center;
  font-size: 28px;
  padding: 8px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  

  a {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    text-decoration: none;
    list-style: none;
    color: #d90505;
    font-size: 18px;
    &:hover{
      color: #cccccc;
    }

    &:after {
      content: "\00bb";
      position: absolute;
      opacity: 0;
      top: 0;
      right: -20px;
      transition: 0.5s;
      color: #cccccc;
    }
  }

  &:hover {
    background-color: #e2235e;

    a {
      padding-right: 25px;

      &:after {
        opacity: 1;
        right: 0;
      }
    }
  }
}
