.moi{
  // background-color: #ff00bb;
  background-image: url(../../public/images/gallery/me_1.png); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 10px solid #e2235e;
}
.maquette{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  flex-wrap: wrap;
  margin: 0 auto;
  overflow: hidden;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  
  &__presentation {
    background-color: #f1f1f1;
    padding: 20px;

    &__title {
      font-size: 51px;
      color: #333;
   }
    &__content {
      font-size: 17px;
      color: #000000;
      margin-top: 0.5rem;
    }
 
  }
}
    
.photo-frame {
  width: 419px;
  height: 419px;
  background-color: #000;
  position: relative;
  box-shadow: 0px 0px 5px 2px #000;
  cursor: pointer;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-280deg);
    width: 160%;
    height: 130%;
    background-image: conic-gradient(
      #ff00bb 0deg,
      #ff00bb 90deg,
      transparent 130deg,
      transparent 180deg,
      #4530ff 180deg,
      #4530ff 270deg,
      transparent 310deg,
      transparent 360deg
    );
    transition: transform 2s;
    display: block;
  }

  &:hover::before {
    transform: translate(-50%, -50%) rotate(-100deg);
  }

  &::after {
    content: "";
    position: absolute;
    display: flex;
    height: 397px;
    width: 401px;
    left: -46%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../../public/images/gallery/me.png);
    background-repeat: no-repeat;
    background-size: cover;
    rotate: 90deg;
    background-position: center;
  }
}
